*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #ff8be6;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 50px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #fb0d88;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
}


body{
    background-image: url(./img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 900px;
    
}

.title{
    margin-top: -32%;
    margin-left: 4%;
    font-size: 80px;
    color: black;
}

.subtitle{
    margin-top: 1%;
    margin-left: 4%;
    margin-bottom: 20px;
    font-size: 30px;
    color: black;
}
/*div del logo de arriba a la izq*/
.logo{
    border: solid black 1px;
    border-radius: 5%;
    margin-right: 92.3%;
    margin-left: 3%;
}

.logo2{
    position: relative;
    padding: auto;
    margin-top: 0%;
    width: 100px;
    height: 100px;
}


.links img{
    width: 3%;   
}


.trello, .git{
    margin-top: 2%;
   margin-left: 5%;
}